.features {
  background: url('../image/tomato-3.png') no-repeat;
  background-size: 100% 100%;
  padding-top: rem(64px);
  .title {
    margin: 0;
    font: rem(72px) 'Gagalin';
    line-height: rem(72px);
    color: $black;
    text-align: center;
  }
  &-content {
    list-style: none;
    margin: auto;
    margin-top: rem(83px);
    display: flex;
    justify-content: space-between;
    padding: 0;
    .features-content__item {
      align-items: flex-start;
      width: rem(295px);
      text-align: center;
      color: $black;
      .features-content__pic {
        height: rem(90px);
      }
      .features-content__image {
        margin: auto;
      }
      .features-content__title {
        margin-top: rem(30px);
        margin-bottom: rem(15px);
        font: rem(23px) 'Lifehack';
        line-height: rem(28px);
      }
      p {
        font: rem(14px) 'Ubuntu';
        line-height: rem(24px);
      }
    }
  }
}