.header {
  position: relative;
  background: url("../image/video-bg.png") no-repeat 0 0;
  background-size: 100% 100%;
  padding-top: rem(10px);
  -webkit-box-sizing: border-box;
  .header__top {
    height: rem(80px);
    margin: auto; 
    .header-logo {
      float: left;
      display: block;
    }
    .navigation {
      float: right;
    }
    .navigation__button {
      display: block;
      float: right;
      width: rem(97px);
      height: rem(35px);
      background-color: #e45028;
      border-radius: rem(5px);
      color: #fff;
      font: rem(13px) 'Ubuntu';
      line-height: rem(35px);
      text-align: center;
      text-transform: uppercase;
      margin-top: rem(18px);
      cursor: pointer;
    }
    .navigation-list {
      float: right;
      margin-top: rem(29px);
      font-size: 0;
      list-style: none; 
      .navigation-list__item {
        float: left;
        margin-right: rem(36px);
        position: relative;
        list-style: none;
        .navigation-list__link {
            font: rem(13px) 'Ubuntu';
            line-height: rem(13px);
            letter-spacing: rem(.1px);
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }
        &:last-child {
          margin-right: rem(15px);
          &::after {
            display: none; 
          }
        }
        &::after {
          content: '';
          display: block;
          width: rem(4px);
          height: rem(4px);
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          top: rem(4px);
          right: rem(-19px); 
        }
      }    
    }      
  }
  .header__bottom {
  .header__left {
    float: left;
    width: 50%;
    height: rem(500px);
    background: url("../image/burger.png") rem(15px) rem(-15px) no-repeat;
  }
  .header__right {
    float: right;
    width: 50%;
    height: rem(500px);
    p:first-child {
      margin-top: rem(114px);
      margin-bottom: 0;
      margin-left: rem(10px);
      font: rem(71px) 'Gagalin';
      color: $yellow;
      letter-spacing: rem(.7px);
    }
    p:last-child {
      margin-top: rem(22px);
      margin-left: rem(10px);
      font: rem(62px) 'Lifehack';
      line-height: rem(60px);
      color: #fff;
    }
  }
  }
  .header__arrow-down {
    display: block;
    position: absolute;
    bottom: rem(40px);
    left:50%;
    width: rem(20px);
    height: rem(20px);
    border-radius: rem(3px);
    border-bottom: rem(2px) solid #fff;
    border-right: rem(2px) solid #fff;
    transform: translateX(-50%) rotate(45deg);
  }
}