.order {
	background: url('../image/order-bg.png');
	padding-top: rem(50px);
	.title {
		font: rem(72px) "Gagalin";
		color: $yellow;
		text-align: center;
	}
	.order-form-block {
		margin-top: rem(68px);
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include tablets {
			width: rem(470px);
			margin: auto;
		  }
		.form__input {
			box-sizing: border-box;
			padding-left: rem(10px);
			padding-right: rem(10px);
			border-radius: rem(5px);
			border: rem(2px) solid transparent;
			height: rem(35px);
			margin-top: rem(5px);
			width: 100%;
		}
		.form__label-font {
			color: #fff;
			font: rem(14px) "Ubuntu";
			line-height: rem(24px);
		}
		.form__input:focus {
			border: rem(2px) solid $yellow;
			outline: none;
		}
		.form-left {
			width: calc(100% / 2 - 10px);
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			box-sizing: border-box;
			@include tablets {
				width: 100%;
			  }
			.form__name {
				flex-grow: 2;
				padding-right: rem(10px);
			}
			.form__tel {
				width: 50%;
				padding-left: rem(10px);
			}
			.form__street {
				flex-grow: 1;
				margin-top: rem(11px);
			}
			.form__adress-block {
				width: 100%;
				display: flex;
				margin-top: rem(11px);
			}
			.form__adress {
				flex-grow: 1;
				margin-left: rem(20px);
				&:first-child {
					margin-left: 0;
				}
			}
		}
		.form-right {
			width: calc(100% / 2 - 10px);
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			@include tablets {
				width: 100%;
			  }
			.form__comment {
				width: 100%;
				.form__input-comment {
					width: 100%;
					height: rem(110px);
					box-sizing: border-box;
					padding-top: rem(5px);
				}
			}
			.form__payment {
				width: 33%;
				color: #fff;
				font: rem(14px) "Ubuntu";
				line-height: rem(24px);
				margin-right: rem(15px);
				margin-top: rem(6px);
				.form__payment-check {
					float: left;
					width: rem(7px);
					height: rem(7px);
					border: rem(4px) solid #fff;
					background-color: #fff;
					border-radius: 50%;
				}
				p {
					line-height: rem(14px);
					margin-left: rem(25px);
				}
				.form__payment-input {
					display: none;
					&:checked + .form__payment-check {
						background-color: red;
					}
				}
			}
			.form__no-call {
				width: 33%;
				color: #fff;
				font: rem(14px) "Ubuntu";
				line-height: rem(14px);
				margin-top: rem(30px);
				.form__no-call-check {
					float: left;
					width: rem(15px);
					height: rem(15px);
					background-color: #fff;
				}
				.form__no-call-input {
					display: none;
					&:checked + .form__no-call-check {
						background: #fff url("../image/icons/checkbox.png") center no-repeat;
					}
				}
				p {
					margin-left: rem(25px);
				}
			}
			.form__submit-block {
				width: 100%;
			}
			.form__submit {
     			width: rem(97px);
    			height: rem(35px);
      			background-color: #e45028;
     			border-radius: rem(5px);
      			color: #fff;
				font: rem(13px) 'Ubuntu';
				line-height: rem(35px);
     			text-align: center;
     			text-transform: uppercase;
     			margin-top: rem(18px);
				cursor: pointer;
				outline: none;
				border: none;
				&:hover {
					background-color: #c1401e;
				}
			}
			.form__reset {
				width: rem(97px);
				height: rem(35px);
				background-color: transparent;
      			color: #fff;
				font: rem(13px) 'Ubuntu';
				line-height: rem(35px);
     			text-align: center;
     			margin-top: rem(18px);
				cursor: pointer;
				outline: none;
				border: none;
			}
		}
	}
}