.team {
    background: url('../image/SBS_1255-X2.png') center no-repeat;
    background-size: cover;
    position: relative;
    .team__content {
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        background-color: #313436;
        opacity: .9;
        padding-left: 80px;
        .title {
            margin-top: 90px;
            font: 72px 'Gagalin';
            line-height: 72px;
            color: $yellow;
        }
        .acco {
            margin-top: 90px;
            .acco__item {
                margin-bottom: 35px;
                .acco__title {
                    height: 28px;
                    display: flex;
                    align-items: center;
                    font: 14px 'Gagalin';
                    color: #fff;
                    &::before {
                        content: '';
                        display: block;
                        height: 0;
                        width: 0;
                        border: 9px solid transparent;
                        border-top-color: $yellow;
                        border-bottom: none;  
                        margin-right: 10px;
                        transition: .5s;
                    }
                }
                &:hover {
                    .acco__title::before {
                       transform: rotate(180deg);
                       transition: .5s;
                   }
                    .acco__content {
                       height: 100px;
                       transition: height .5s;
                   }
                    h2 {
                        color: $yellow;
                    }
                }
                .acco__content {
                    height: 0;
                    overflow: hidden;
                    transition: height .5s;
                    margin-top: 15px;
                    .acco__pic {
                           height: 100px;
                           width: 100px;
                           border-radius: 50%;
                           overflow: hidden;
                           margin-left: 20px;
                           float: left;
                       }
                    h3 {
                        font: bold 14px 'Ubuntu';
                        color: #fff;
                        margin-left: 140px;
                    }
                    p {
                        font: 14px 'Ubuntu';
                        color:#fff;
                        margin-left: 140px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
} 