@font-face {
  font-family: 'Ubuntu';
  src: url("css/fonts/Ubuntu/Ubuntu-Regular.ttf"); }
@font-face {
  font-family: 'Gagalin';
  src: url("css/fonts/Gagalin/Gagalin-Regular.woff"); }
@font-face {
  font-family: 'Lifehack';
  src: url("css/fonts/Lifehack Medium.woff"); }