body,ul,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
  list-style: none;
}

label {
  display: block;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.section {
    min-height: 650px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.container {
  width: 940px;
  margin: auto; 
  height: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}